<%- include('../partials/header') %>
    
    <form action="/plans" method="POST">
        <label>Title:
            <input type="text" name="title">
        </label>
        <label>Distance:
            <select name="distance">
                <option value="5k">5k</option>
                <option value="10k">10k</option>
                <option value="Half-Marathon">Half-Marathon</option>
                <option value="Marathon">Marathon</option>
            </select>
        </label>
        <label>Duration (weeks):
            <input type="text" name="duration">
        </label>
        <label>Notes:
            <textarea name="notes"></textarea>
        </label>
        <input type="submit" value="Create Plan">
    </form>

<%- include('../partials/footer') %>