<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Run Plan</title>
</head>
<body>
    
    <h2>Create a New Plan</h2>
    <form action="/plans" method="POST">
        <label>Title:
            <input type="text" name="title">
        </label>
        <label>Distance:
            <select name="distance">
                <option value="5k">5k</option>
                <option value="10k">10k</option>
                <option value="Half-Marathon">Half-Marathon</option>
                <option value="Marathon">Marathon</option>
            </select>
        </label>
        <label>Duration (weeks):
            <input type="text" name="duration">
        </label>
        <label>Notes:
            <input type="text" name="notes">
        </label>
        <input type="submit" value="Create Plan">
    </form>

</body>
</html>