<%- include('partials/header') %>

    <h2 id="index-slogan">Plan. Track. Run.</h2>

    <img src="/images/latte-run-cutout.svg" class="img-fluid rounded mx-auto d-flex" alt="Running Latte">

<%- include('partials/footer') %>