* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "nav"
        "main"
}

body > nav {
    grid-area: nav;
    background-color: #1b5790;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 20px;
}

nav > img {
    object-fit: contain;
    margin-right: auto;
}

body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #eef5db; */
    padding: 20px;
    overflow-y: scroll;
}

body > main h1:first-child {
    margin-bottom: 50px;
}

nav > a {
    margin:20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

/* font-color of headers after title */

.hidden {
    display: none;
}