* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "nav"
        "main"
}

body > nav {
    grid-area: nav;
    background-color: #1b5790;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 45px 20px;
}

.foot {
    width: 100vw;
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    background-color: #1b5790;
    padding: 30px 20px;
}

nav > img {
    object-fit: contain;
    margin-right: auto;
}

body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    overflow-y: scroll;
}

body > main h1:first-child {
    margin: 10px;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    background-color: #b2d281;
    border-radius: 5px;
}

nav > a {
    margin:20px;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
}

nav > a:hover {
    background-color: #e57200;
    color: #ffffff;
}

nav > a.active {
    background-color: #e57200;
}

#index-slogan {
    margin: 0px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    /* background-color: #b2d281;
    border-radius: 5px; */
}

/* My dashboard avatar picture */
#avatar {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

/* Subheaders for details pages and dashboard */
.detail-header, #name-header {
    margin: 10px;
    padding: 10px; 
    border-radius: 5px;
}

.detail-header {
    background-color: #b2d281;
    font-family: 'Fredoka One', cursive;
}

#dash-plan-header {
    margin-top: 25px;
}

.plan-title-head {
    background-color: #1b5790;
}

/* Below used for 'View Day From Plan' functionality */
.hidden {
    display: none;
}