<%- include('../partials/header') %>

<form id="add-entry-form" action="/journals/<%= journalId %>/entries/" method="POST">
    <label>Date: 
        <input type="date" name="date">
    </label>
    <label>Day Number: 
        <input type="number" name="dayNumber">
    </label>
    <label>Type: 
        <select name="dayType">
            <option value="Easy">Easy</option>
            <option value="Hard">Hard</option>
            <option value="Tempo">Tempo</option>
            <option value="Rest">Rest</option>
        </select>
    </label>
    <label>Actual Distance (miles): 
        <input type="number" name="actDistance">
    </label>
    <label>Actual Time (hh:mm:ss): 
        <input type="time" name="actTime" step="1" min="00:00:00" max="10:00:00">
    </label>
    <label>Notes: 
        <textarea name="notes"></textarea>
    </label>
    <input type="submit" value="Add Entry">
</form>

<%- include('../partials/footer') %>