<%- include('../partials/header') %>

<form id="add-entry-form" action="/journals/<%= journalId %>/entries/" method="POST">
    <div class="d-flex align-items-left flex-column">
        <div class="d-flex">
        <label><p class="h3 font-weight-bold">Date: 
        <input type="date" name="date"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Day Number: 
        <input type="number" name="dayNumber"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Type: 
        <select name="dayType">
            <option value="Easy">Easy</option>
            <option value="Hard">Hard</option>
            <option value="Tempo">Tempo</option>
            <option value="Rest">Rest</option>
        </select></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Actual Distance (miles): 
        <input type="number" name="actDistance"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Actual Time (minutes): 
        <input type="number" name="minutes"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Actual Time (seconds): 
        <input type="number" name="seconds"></p>
    </label>
    </div>
    <div class="d-flex">
    <label><p class="h3 font-weight-bold">Notes: 
        <textarea name="notes"></textarea></p>
    </label>
    </div>
    </div>
    <div class="d-flex justify-content-center">
    <input type="submit" value="Add Entry" class="btn btn-info">
    </div>
</form>

<%- include('../partials/footer') %>